<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <h1>Upload Image</h1>

    <input type="file" name="image" accept="image/*" required="" id="id_image">

        <button onclick="submitForm(event)">Upload</button>


        <script>
            function submitForm(event){
event.preventDefault();
const formData=new FormData();
formData.append('image',document.getElementById('id_image').files[0]);
fetch('/', {
    method: 'POST',
    body:formData
}).then(response => {
    response.text().then(data => {
        alert(data)
    })

})
            }
        </script>
   
</body>
</html>
